.introduction{
    display: flex;

    gap: 6em;

    padding: 2em;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60em;
}

.name{
    color: #f45c43;
}

.text a {
    position: relative;
    padding: 15px 30px;
    border: 2px solid #0290a2;
    margin: 40px;
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, #0002); */
    transition: 0.5s;
}

.text a:hover{
    border: 2px solid #BAD9C8;
}

.text a button{
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    color: #fff;
}

/* CONTINUANDO PAGINA */

.skills{
    width: 100%;

    background: #029eb1;
}

.skills h3{
    text-align: center;

    margin-bottom: 3em;
}

.skills_container{
    display: flex;
    justify-content: space-around;

    height: 90vh;
}

.skills_desc{
    display: flex;
    flex-direction: column;
}

.skills_desc button{
    width: 246px;
    height: 68px;

    background: #f4f4f4;
    border-radius: 45px;

    margin: 1em;

    border: none;
}

.skills_dev{
    width: 300px;
    height: 215px;


    background: #f4f4f4;
    margin-right: 1em;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.skills_dev img{
    width: 20%;
}

.skills_design{
    width: 300px;
    height: 215px;

    
    background: #f4f4f4;
    margin-right: 1em;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    padding: 1em;

    margin-bottom: 1em;
}

.skills_design img{
    width: 20%;
}

.iDo{
    display: flex;
    gap: 2em;
}

.iDo div{
    max-width: 300px;
}

.title{
    color: #000;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 0.8em;

    font-size: 1.2em;
    line-height: 1.2;
}

.subtitle{
    font-size: 1.1em;

    margin-bottom: 2em;
}

/* About */

.about_me{
    width: 100%;
    height: 100vh;

    padding: 3em;
    margin-top: 2em;
}

.about_image{
    width: 97px;
    height: 95px;

    margin-right: 1em;
}

.about_image img{
    width: 100%;
}

.about_me_desc{
    width: 600px;
    height: auto;

    margin-top: 2em;
}

.email{
    display: flex;
}

.email button{
    height: 68px;

    background: #f4f4f4;

    border-radius: 45px;
    border: none;

    margin: 1em;
    padding: 15px 30px;
}

.email button:hover{
    background: #DFDFDF;
    transition: 0.4s;
}

.email_copied{
    height: 40px;

    background-color: #0290a2;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    color: #BAD9C8;
}

/* Responsive */

@media only screen and (max-width: 768px) {

    .text a {
        padding: 5px 30px;
    }

    .subtitle{
        font-size: 0.8em;
    }

    .skills_desc button{
        width: 180px;
        padding: 10px;
    }

    .skills_dev, .skills_design{
        width: 15em;
        height: auto;
    }

}

@media only screen and (max-width: 425px) {

    .introduction{
        gap: 1em;
    }

    .skills_container{
        flex-direction: column;
    }

    .skills h3{
        margin-bottom: 1em;
    }

    .skills_dev{
        margin-left: 2em;
    }

    .skills_dev img{
        width: 10%;
    }

    .skills_design{
        margin-left: 2em;
    }

    .skills_design img{
        width: 10%;
    }

    .iDo{
        margin-top: 1em;
        padding: 1em;
    }

    .title{
        font-size: 0.8em;
    }

    .subtitle{
        font-size: 0.5em;
    }

    .skills_desc button{
        width: auto;
        height: 35px;
    }

    .text{
        width: 50%;
    }

    .text p {
        font-size: 0.6em;
    }

    .text a{
        margin: 0;
    }

    .text a button{
        font-size: 10px;
        letter-spacing: 3px;
    }

    .about_me_desc{
        width: 100%;
    }

    .about_me_desc p{
        font-size: 0.6em;
    }

    .email{
        flex-direction: column;
    }

    .email button{
        margin: 0;
        font-size: 0.8em;
        padding: 1em;
        height: auto;
    }
    
    .email_copied{
        width: 50px;
        height: 20px;
        font-size: 0.4em;
        margin-bottom: 5px;
    }


}

@media only screen and (max-width: 375px) {

    .skills h3{
        margin-bottom: 20px;
    }

    .skills_design{
        margin-bottom: 0;
    }

    .email{
        flex-direction: column;
    }

    .email_copied{
        width: 50px;
        height: 20px;
        font-size: 0.4em;
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 320px) {

    .text a {
        padding: 0px;
    }

    .text a button{
        font-size: 0.5em;
        padding-bottom: 10px;
    }

    .skills h3{
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    .skills_desc button{
        font-size: 0.6em;

        height: 30px;
    }

    .skills_dev{
        padding: 10px;
    }

    .skills_design{
        padding: 10px;
    }

    .email_copied{
        width: 50px;
        height: 20px;
        font-size: 0.4em;
        margin-bottom: 5px;
    }

    .email{
        flex-direction: column;
    }

    .email button{
        width: 100%;
        font-size: 0.5em;
    }

}